h1 {
  font-family: 'Alex Brush', cursive;
}

body {
  font-family: 'Arbutus Slab', serif;
  background-image: url(../images/background.jpg);
}

.btn {
  margin: 3px;
}

.submit {
  background-color: red;
  color: white;
  border: 2px solid white;
}

.jumbotron {
  background-image: url(../images/title.jpg);
}
